#loginBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 100%, 60%);
}

#loginBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(236, 95%, 50%);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#loginBtn:hover {
  cursor: pointer;
}

#loginBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}


#viewCourse {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 100%, 60%);
}

#viewCourse::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(236, 95%, 50%);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#viewCourse:hover {
  cursor: pointer;
}

#viewCourse:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}



#exploreButton {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 100%, 60%);
}

#exploreButton::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(236, 100%, 50%);
  font-size: 30px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#exploreButton:hover {
  cursor: pointer;
}

#exploreButton:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}



#instructorBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 100%, 60%);
}

#instructorBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(236, 100%, 50%);
  font-size: 30px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#instructorBtn:hover {
  cursor: pointer;
}

#instructorBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}



#accBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(152, 98%, 33%);
}

#accBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(118, 100%, 30%);
  font-size: 30px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#accBtn:hover {
  cursor: pointer;
}

#accBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}



#privBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color:hsl(236, 100%, 60%);
}

#privBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(236, 100%, 50%);
  font-size: 30px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#privBtn:hover {
  cursor: pointer;
}

#privBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}


#changeBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color:hsl(236, 100%, 60%);
}

#changeBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:hsl(236, 100%, 50%);
  font-size: 30px;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

#changeBtn:hover {
  cursor: pointer;
}

#changeBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
